encryptionApproach.class
encryptionApproach$AES_Encryption256.class
encryptionApproach$AESExample.class
encryptionApproach$CloudServer.class
encryptionApproach$EdgeServer.class
encryptionApproach$MobileDevice.class
encryptionApproach$AES_Decryption256.class
Cloud_servers
Edge_servers
Mobile_devices